<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <div class="header">
  <h1>Musemiu King Bakery</h1>
  <p>Our supercool bakery</p>
</div>
<!--NAVBAR accross all pages -->
      <nav class ="headernav">
        <a href= "/">HOME</a>
        <a href= "/our_story">OUR STORY</a>
        <a href= "/cookies">COOKIES</a>
        <a href= "/cakes">CAKES</a>
        <a href= "/muffins">MUFFINS</a>
</nav>


    <%= yield %>

    <div class="text">
      <h1>Are You Hungry</h1>
          <p>Breakfast taste good</p>
          <p>Don't Miss Out</p>
    </div>

<!--newsletter email collector on footer  -->
    <footer>
      <form method="post">
        <h5>Sign up for our newsletter</h5>
  E-mail: <input type="email" name="email">
  <input type="submit" name="submit" value="submit">
</form>

    </footer>

<!--using bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
