<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

<img src="" alt="">

<div class="container text-center">
<h3>MUSEMIU KING BAKERY</h3>
<p><em>We love food!</em></p>
<p>Layers of cakes, muffins and sweet cookies finished off with a candy cane. Festive and delicious.</p>
<br>
<div class="row">
<div class="col-sm-4">
<p><strong>Taste Sweet</strong></p><br>
<img src="images/cheesecake.jpg" alt="Random Name">
</div>
<div class="col-sm-4">
<p><strong>Taste Good</strong></p><br>
<img src="images/bananamuffin.jpg" alt="Random Name">
</div>
<div class="col-sm-4">
<p><strong>Taste Delicious</strong></p><br>
<img src="images/cats.jpg" alt="Random Name">
</div>
</div>



  </body>
</html>
