<h1>Thank you for signing up for our newsletter</h1>

<p>We use only the freshest and finest ingredients to complete a large variety of bakery items made and sold fresh daily – cakes, pastries, tortes, tarts, cookies, breads & rolls just to name a few!</p>
