<h1>Thank you for signing up for our newsletter</h1>

<p>We use only the freshest and finest ingredients to complete a large variety of bakery items made and sold fresh daily – cakes, pastries, tortes, tarts, cookies, breads & rolls just to name a few!</p>
<h3>MUSEMIU KING BAKERY CATALOGS ASSORTMENTS</h3>
<ol>
<li>Biscotti</li>
<li>Muffins</li>
<li>Danish</li>
<li>Scones</li>
<li>Turnovers</li>
<li>Palm Leaves</li>
<li>Cinnamon Rolls</li>
<li>Croissants (Plain & Filled)</li>
<li>Coffee Cakes</li>
</ol>
